# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'catppuccin/tmux'

# Theme
set -g @catppuccin_flavour 'frappe'

# Basic Settings
set -g default-terminal "screen-256color"
set -ga terminal-overrides ",xterm-256color:Tc"
set -g history-limit 100000
set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on

# Prefix
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

# Mouse settings
set -g mouse on

# Copy mode settings
setw -g mode-keys vi
# Enter copy mode
bind [ copy-mode
# Setup 'v' to begin selection as in Vim
bind -T copy-mode-vi v send -X begin-selection
# Setup 'y' to yank (copy)
bind -T copy-mode-vi y send -X copy-pipe-and-cancel "pbcopy"
# Update default binding of `Enter` to also use copy-pipe
unbind -T copy-mode-vi Enter
bind -T copy-mode-vi Enter send -X copy-pipe-and-cancel "pbcopy"
# Bind ']' to paste
bind ] run "pbpaste | tmux load-buffer - && tmux paste-buffer"
# Enable mouse dragging to copy text
bind -T copy-mode-vi MouseDragEnd1Pane send -X copy-pipe-and-cancel "pbcopy"

# Window Navigation
bind -n M-H previous-window
bind -n M-L next-window

# Pane Navigation
bind -n M-h select-pane -L
bind -n M-j select-pane -D
bind -n M-k select-pane -U
bind -n M-l select-pane -R

# Split panes
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"

# Reload config
bind r source-file ~/.tmux.conf \; display "Config reloaded!"

# Plugin settings
set -g @resurrect-capture-pane-contents 'on'
set -g @continuum-restore 'on'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'